body
{
    padding: 0px;
    margin: 30px;
    
    
    
}
#cont
{
    height: 100vh;
    width: 100%;
   
    text-align: center;
}
#red
{
    height: 50px;
    width: 100px;
    border: solid 1px black;
    background-color: white;
    color: red;
}
#blue
{
    height: 50px;
    width: 100px;
    border: solid 1px black;
    background-color: white;
    color: blue;
}
#green
{
     height: 50px;
    width: 100px;
    border: solid 1px black;
    background-color: white;
    color:green;
}
#rand
{
     height: 50px;
    width: 100px;
    border: solid 1px black;
    background: linear-gradient(to right, red, blue);

    color: white;
}
button
{
    padding: 10px;
}
